.part {
    margin-bottom: 50px;
    padding-bottom: 8px;

    font-family: 'PlayfairDisplay', serif;
    font-size: 31px;
    text-align: start;
    color: #4f3419;
    border-bottom: 2px solid #c7b6a7;
}

.question {
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 1.7;
    white-space: normal;
}

.response {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.response button {
    width: 100%;
    height: 55px;
    margin-bottom: 15px;
    padding: 0 25px;

    font-size: 20px;
    line-height: 1.7;
    text-align: start;
}

.button {
    width: 200px;
    height: 53px;
    font-size: 20px;
}

button {
    border-radius: 5px;
    border: 2px solid #c7b6a7;
    background-image: linear-gradient(to left, #fffbf7 50%, #f8efe0 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: 0.5s ease-out;
}

button.active {
    background-position: left;
}