.question, .response, .toolbar {
    width: 360px;
}

.question div:first-of-type {
    margin-bottom: 50px;
    padding-bottom: 8px;

    font-family: 'PlayfairDisplay', serif;
    font-size: 31px;
    text-align: start;
    color: #674220;
    border-bottom: 2px solid #c7b6a7;
}

.question div:last-of-type {
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 1.7;
}

.response {
    margin-bottom: 40px;
}

.response button {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 25px;

    font-size: 20px;
    line-height: 1.7;
    text-align: start;
}

.toolbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.toolbar div {
    font-family: 'RobotoSlab', serif;
    font-size: 35px;
    text-align: start;
    transform: scale(1, 2);
    letter-spacing: 2px;
    color: #624021;
}

.toolbar button {
    width: 200px;
    height: 55px;
    font-size: 20px;
}

.response button, .toolbar button {
    border-radius: 5px;
    border: 2px solid #c7b6a7;
    background-image: linear-gradient(to left, #fffbf7 50%, #f8efe0 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: 0.5s ease-out;
}

.response button.active, .toolbar button.active {
    background-position: left;
}